.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }

  .notification-icon {
    position: relative;
    font-size: 24px;
    cursor: pointer;
  }
  
  .notification-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .notification-dropdown {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    color:black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    z-index: 9999;
  }
  
  .notification-dropdown {
    animation: fadeIn 0.3s ease-in;
    margin-top: 50px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
